header{
    position: fixed;
    font-family: 'Orbitron', sans-serif;
    display: flex;
    flex-direction: row;
    width: 100vw;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

ul{
    display: flex;
    flex-direction: row;
    color: white; 
    list-style: none;
}

ul>li{
    margin-right: 14rem;
    clip-path: polygon(10% 0%, 100% 0%, 100% 80%, 90% 100%, 0% 100%, 0% 20%); 
    transition: 1s;
    padding: 1.2rem;
    font-size: 1.2rem;
    cursor: pointer;
}

ul>li:hover{
    background-color: #892be26b;
    animation: glitch 1s infinite;
}



.logoHeader{
    background-color: #892be26b;
    clip-path: polygon(10% 0%, 100% 0%, 100% 80%, 90% 100%, 0% 100%, 0% 20%); 
    width: 16rem;
    height: 4.5rem;
    padding: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 4rem;
    margin-left: 8rem;
}

.logoHeader p{
    font-size: 1.5rem;
}

