.skills{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}


.skillDisplay{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    background-color: #892be26b;
    box-shadow: 5px 5px 1px;
    clip-path: polygon(10% 0%, 100% 0%, 100% 90%, 90% 100%, 0% 100%, 0% 10%);
    background-image: repeating-linear-gradient(0deg, transparent, transparent 2px, rgba(0,0,0,0.2) 3px);
}

.skillShow{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.skillGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
}

.gridBlock{
    padding: 1rem;
    background-color: #892be244;
}

.gridBlock i{
    font-size: 3rem;
}