body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'K2D';
    overflow-x: hidden;
    background-image: url(../assets/ghostrunner_2937953b.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.start{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start h1{
    font-size: 9rem;
    font-weight: 100;
    font-style: italic;
    margin: 0;
}

.start h3{
    font-style: italic;
    font-size: 2rem;
}

.text-holder{
    display: flex;
    flex-direction: column;

    justify-content: center;
}